@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-foco: #14768b;
    --cor-fundo: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
    
}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5.12rem;
    flex-grow: 1; /* fez o footer ficar no local certo */
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /* para descobrir a conversão do px pro rem tem que dividir o numero em px por 16 */
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 0.12rem solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.34rem 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-fundo);
    border: 0.12rem solid var(--cor-foco);
    width: 200px;
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}


/* curriculo */

.curriculo {
    padding: 3% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.87rem;
    flex-grow: 1;
}

.curriculo__inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.87rem;
    margin-bottom: 2%;
}

.personal {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    box-sizing: border-box;
    width: 80%;

}

.personal__img {
    width: 40%;
}

.personal__list__titulo{
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
}

.personal__titulo {
    font-size: 2.2rem;
    font-family: var(--fonte-primaria);
}

.personal__cor{
    color: var(--cor-terciaria);
    font-weight: 600;
    font-size: 1.5rem;
}

.personal__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 0.62rem;
    font-size: 1.3rem;
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-fundo);
    padding: 3%;
    width: 60%;

}

.personal__list:hover{
    box-shadow: 2px 2px 2px 2px var(--cor-foco);

}

.personal__list__link {
    text-decoration: none;
    color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.93rem;
}

@media (max-width: 1200px) {

    .cabecalho{
        padding: 10%;
        
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;    
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .personal {
        flex-direction: column;
        align-items: center;


    }

    .personal__list {
        width: 50%;

    }

}

@media (max-width: 600px) {

    .personal__titulo {
        font-size: 1.5rem;
    }

    .personal__list {
        width: 100%;
        padding: 5%;
    }

    .personal__list {
        align-content: center;

        
    }

}